---
layout: fruit.ejs
name: Banana
sciName: "Musa paradisiaca"

altNames: [
	"Pacoba",
	"Pacova"
]

thumbnailCredits: 'robin_24 (2010) 
(via <a href="">Wikimedia Commons</a> as <a href="https://creativecommons.org/licenses/by/2.0/deed.en">CC BY 2.0</a>)'

backdropCredits: 'Pedro Alexandrino Borges (c.1900). "Bananas e Metal" 
(via <a href="https://commons.wikimedia.org/wiki/File:Pedro_Alexandrino_-_Bananas_and_Metal_-_Google_Art_Project.jpg">Wikimedia Commons</a>)'
---

<p>
	Uma das frutas com menor concentração de água por peso, é comprida e
	normalmente amarela. Possui polpa macia e casca firme, e cresce em cachos de
	múltiplas pencas.
</p>
