---
layout: fruit.ejs
name: Fruta-do-Conde
sciName: "Annona squamosa"

altNames: [
	"Anona",
	"Anoneira",
	"Araticum",
	"Ata",
	"Ateira",
	"Fruta-pinha",
	"Pinha"
]

thumbnailCredits: 'Muhammad Mahdi Karim (2010) 
(via <a href="https://commons.wikimedia.org/wiki/File:Sugar_apple_with_cross_section_sl.jpg">Wikimedia Commons</a>
as <a href="https://www.gnu.org/licenses/old-licenses/fdl-1.2.html#SEC1">GFDL-1.2</a>)'

backdropCredits: 'Agostinho da Motta (séc.XIX). "Fruta do Conde" 
(via <a href="https://commons.wikimedia.org/wiki/File:Agostinho_da_Motta_-_Sweetsop_-_Google_Art_Project.jpg">Wikimedia Commons</a>)'
---

<p>
	Fruta de cor esverdeada com protuberâncias redondas. Possui polpa branca e
	grandes sementes.
</p>
