---
layout: fruit.ejs
name: Maçã
sciName: "Malus domestica"

altNames: []

thumbnailCredits: 'Amada44 (2009) 
(via <a href="https://commons.wikimedia.org/wiki/File:Apple-003.jpg">Wikimedia Commons</a>)'

backdropCredits: 'Władysław Ślewiński (c.1901). "Still-Life with Apples" 
(via <a href="https://commons.wikimedia.org/wiki/File:W%C5%82adys%C5%82aw_%C5%9Alewi%C5%84ski_-_Martwa_natura_z_jab%C5%82kami.jpg">Wikimedia Commons</a>)'
---

<p>
	Tão clássica que seu nome já foi usado como termo genérico para "frutas", a
	maçã é tecnicamente um pseudofruto. É cultivada há milhares de anos e está
	presente em mitologias, folclores e religiões através do mundo, além
	da ciência com Newton.
</p>
