---
layout: fruit.ejs
name: Carambola
sciName: "Averrhoa carambola"

altNames: [
	"Fruta-estrela"
]

thumbnailCredits: 'SMasters (2010) 
(via <a href="https://commons.wikimedia.org/wiki/File:Carambola_fruit_2.jpg">Wikimedia Commons</a> as <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>)'

backdropCredits: 'Agostinho José da Mota (c.1873). "Natureza-morta com frutas" 
(via <a href="https://www.brasilianaiconografica.art.br/obras/19864/natureza-morta-com-frutas-atribuido">Brasiliana Iconográfica</a>)'
---

<p>
	Fruta tropical originária do Sudeste Asiático. Firme e de cor amarelada,
	distingue-se pelo formato de suas fatias, de estrelas de cinco pontas.
</p>
