<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
	<meta name="author" content="Matheus Avellar">
<%- makeOpenGraph(arguments[0]) %>
	<meta name="application-name" content="Fruitboxd">
	<meta name="theme-color" content="#14181c">
	<link rel="preconnect" href="https://cdn.avl.la">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/style.css?v2.2">
</head>
<%_ bodyClass = fallback(arguments[0], "bodyClass", "homepage"); %>
<body class="<%= bodyClass %>">
	<header>
		<nav>
			<a id="logo" href="/">
				<h1>
					<img title="Fruitboxd" src="/assets/logo.svg">
					<span>Fruitboxd</span>
				</h1>
			</a>
		</nav>
	</header>
	<%- content %>
	<footer>
		<section>
			<p>
				Website em construção!
			</p>
			<p>
				Feito com ♥︎&#xFE0E;<!--&#xFE0E;[Ref] stackoverflow.com/a/38452396/4824627-->
				por <a href="https://avl.la/">Matheus Avellar</a><br>
				Rio de Janeiro, RJ, Brasil
			</p>
			<p>
				Sugestões, correções ou comentários?<br>
				m<svg class="icon" viewBox="0 0 24 24" aria-label="@">
					<circle cx="12" cy="12" r="4"></circle>
					<path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path>
				</svg>avl.la
			</p>
		</section>
	</footer>
	<!-- Rasmus' Inter font (labels) -->
	<link rel="stylesheet" href="https://cdn.avl.la/font/inter.css">
	<!-- Bevan (headings), Merriweather (text body) -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Taviraj:wght@700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap">
</body>
</html>