---
layout: fruit.ejs
name: Kiwi Gold
sciName: "Actinidia chinensis"

altNames: []

thumbnailCredits: 'Ivar Leidus (2020) 
(via <a href="https://commons.wikimedia.org/wiki/File:Kiwifruit_-_Golden_(Soreli).jpg">Wikimedia Commons</a> as <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>)'

backdropCredits: 'Lai Ying-Tse/<span lang="cn">賴英澤</span> (2002). "Golden Kiwi"/<span lang="cn">"黃金奇異果"</span> 
(via <a href="http://www.104apple.com.tw/242/html/still_life2/large/Golden%20Kiwi%20Fruit%20_oil%20painting%20painted%20by%20Lai%20Ying-Tse.html">火車頭顏坊</a>, 
upscaled)'
---

<p>
	Variante amarela e mais adocicada do tradicional kiwi verde. Possui casca
	áspera, de cor marrom, com pouco ou nenhum pelo.
</p>
