---
layout: fruit.ejs
name: Limão
sciName: "Citrus × latifolia"

altNames: [ "Limão-tahiti", "Lima persa" ]

thumbnailCredits: 'Evan-Amos (2011) 
(via <a href="https://commons.wikimedia.org/wiki/File:Lime-Whole-Split.jpg">Wikimedia Commons</a>)'

backdropCredits: 'Juan de Zurbarán (c.1640). "Bodegón de limones" 
(via <a href="https://commons.wikimedia.org/wiki/File:Juan_de_Zurbar%C3%A1n_-_Bodeg%C3%B3n_de_limones_-_Google_Art_Project.jpg">Wikimedia Commons</a>)'
---

<p>
	Tecnicamente uma "lima", é a espécie delas mais amplamente cultivada no mundo.
	O arquétipo de limão onde o cultivo de limão siciliano, amarelinho, não é tão
	comum.
</p>
